In [11]:
import pandas as pd

In [12]:
    data = pd.read_excel('ramen-ratings.xlsx')
    data

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [13]:
data =data.dropna()
data= data.drop_duplicates()


print(data.info())
print(data.describe())

# Convertimos las variables categóricas en variables binarias utilizando one-hot encoding
data = pd.get_dummies(data, columns=['Brand', 'Variety', 'Style', 'Country'],drop_first=True)
data = data.astype(int)

# Visualizamos las primeras filas del DataFrame con las variables binarias
print(data.head())

<class 'pandas.core.frame.DataFrame'>
Index: 41 entries, 616 to 2567
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  41 non-null     int64
 1   Brand     41 non-null     object
 2   Variety   41 non-null     object
 3   Style     41 non-null     object
 4   Country   41 non-null     object
 5   Stars     41 non-null     object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 2.6+ KB
None
          Review #
count    41.000000
mean   1047.682927
std     603.562194
min      13.000000
25%     578.000000
50%    1183.000000
75%    1508.000000
max    1964.000000

ValueError: invalid literal for int() with base 10: '2016 #10'

In [ ]:
data

,Review #,Stars,Top Ten,Brand_A-Sha Dry Noodle,Brand_CarJEN,Brand_Doll,Brand_Indomie,Brand_Koka,Brand_MAMA,Brand_Mama,...,Country_Hong Kong,Country_Indonesia,Country_Japan,Country_Malaysia,Country_Myanmar,Country_Singapore,Country_South Korea,Country_Taiwan,Country_Thailand,Country_USA
616,1964,5,2016 #10,False,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
633,1947,5,2016 #1,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
655,1925,5,2016 #8,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
673,1907,5,2016 #5,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
752,1828,5,2016 #9,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
891,1689,5,2016 #7,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
942,1638,5,2015 #10,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
963,1617,5,2015 #7,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
995,1585,5,2015 #4,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1059,1521,5,2015 #9,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
1072,1508,5,2015 #6,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1080,1500,5,2015 #1,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1109,1471,5,2013 #10,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
1114,1466,5,2015 #8,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
1230,1350,5,2014 #7,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1250,1330,5,2014 #4,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
1272,1308,5,2014 #9,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1278,1302,5,2014 #10,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
1309,1271,5,2014 #8,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1382,1198,5,2014 #5,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1397,1183,5,2014 #6,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1493,1087,5,2014 #1,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1588,992,5,2013 #1,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1589,991,5,2013 #2,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1646,934,5,2013 #4,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1670,910,4.25,\n,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1757,823,5,2013 #9,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1846,734,5,\n,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1865,715,5,2013 #3,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1972,608,5,2012 #10,False,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False
2002,578,4.75,2012 #7,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2146,434,4.5,2012 #5,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2188,392,5,2012 #3,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2189,391,4.25,2012 #6,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2248,332,3.75,\n,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2295,285,4.5,2012 #9,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2475,105,5,2012 #1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2533,47,5,2012 #2,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2535,45,5,\n,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2549,31,4,2013 #6,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2567,13,5,2012 #4,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False